/* Lato Heavy */
@font-face {
    font-weight: 800;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Heavy.woff')
}

/* Lato Heavy Italic */
@font-face {
    font-weight: 800;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-HeavyItalic.woff')
}

/* Lato Bold */
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Bold.woff')
}

/* Lato Bold Italic */
@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-BoldItalic.woff')
}

/* Lato Semibold */
@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Semibold.woff')
}

/* Lato Semibold Italic */
@font-face {
    font-weight: 600;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-SemiboldItalic.woff')
}

/* Lato Medium */
@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Medium.woff')
}

/* Lato Medium Italic */
@font-face {
    font-weight: 500;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-MediumItalic.woff')
}

/* Lato-Regular */
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.woff')
}

/* Lato Regular Italic */
@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Italic.woff')
}

/* Lato Light */
@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Light.woff')
}

/* Lato Light Italic */
@font-face {
    font-weight: 300;
    font-style: italic;
    font-family: 'Lato';
    src: url('assets/fonts/Lato-LightItalic.woff')
}
